<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Ticket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Starlight Cinema</h1>
    </header>
    <main>
        <h2>Book a Ticket for "{{ movie[2] }}"</h2>
        <p><strong>Showtime:</strong> {{ movie[1] }}</p>
        <p><strong>Rating:</strong> {{ movie[4] }}</p>
        <p><strong>Ticket Price:</strong> ${{ ticket_price }}</p>

        <form id="seatSelectionForm" method="GET">
            <label for="seat">Choose an available seat:</label>
            <select name="seat" id="seat" required>
                {% for seat in available_seats %}
                <option value="{{ seat }}">{{ seat }}</option>
                {% endfor %}
            </select>
            <p><strong>Total Price:</strong> ${{ ticket_price }}</p>
            <button type="submit">Proceed to Payment</button>
        </form>
        
        <script>
            // Wait until the page is loaded
            window.onload = function() {
                var form = document.getElementById('seatSelectionForm');
                var seatSelect = document.getElementById('seat');
                
                // Set the action when the page is loaded and when a seat is selected
                form.action = '/payment/{{ movie[0] }}/' + seatSelect.value;
                
                // Update the action URL whenever the seat is changed
                seatSelect.addEventListener('change', function() {
                    form.action = '/payment/{{ movie[0] }}/' + this.value;
                });
            };
        </script>
        
        <a href="{{ url_for('index') }}">Back to Home</a>
    </main>
    <footer>
        <p>&copy; 2024 Generic Cinema</p>
    </footer>
</body>
</html>
